[Unit]
Name=Selenium server
Description=Starting a selenium server

[Service]
Type=simple
PIDFile=/var/lock/selenium.pid
EnvironmentFile=/etc/sysconfig/selenium.conf
Environment=PIDFILE=/var/lock/selenium.pid
ExecStart=/usr/bin/java -jar ${DIR}/${JAR} -port $PORT
#ExecStop=pkill --pidfile $PIDFILE

[Install]
WantedBy=multi-user.target
